header {
    position: relative;
    z-index: 3;
    background-color: var(--body-bg);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    width: 100%;
    max-width: 100%;
}

.hero {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.hero-actions {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
    max-width: 1140px;
    width: 100%;
    padding: 0;
}

.app-logo img {
    width: 171.42px;
    pointer-events: none;
}
  
.combobox { 
    position: relative;
    box-sizing: border-box;
    display: flex;
    min-width: 315px;
    height: 48px;
    border: solid 1px black; 
    border-radius: 0.25rem;
}

.combobox.focused {
    outline: 2px solid #ff90e8;
    outline-offset: 0; 
}


.app-logo {
    display: flex;
}


.input-group {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1rem;
    color: black;
    width: 100%;
    background-color: inherit;
}


.input-group input {
    flex-grow: 1;
    padding: 0.7rem 0.5rem 0.5rem 2.5rem;
    border: none;
    background-color: white;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 0.25rem;
}

.input-group .icon {
    position: absolute;
    left: 1rem; 
    bottom: 0.6rem;
    color: grey;   
}

.input-group input:focus {
    outline: none; 
}




@media screen and (min-width: 1024px) {
    .hero-actions {
        padding: 2rem 4rem;
    }
    header {
        padding: 0;
    }
}

@media screen and (max-width: 1024px) {
    .hero-actions {
        padding: 2rem 1rem;
    }
    header {
        padding: 0;
    }
}