.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
    border: 1px solid black;
    border-radius: .25rem;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: white;
  }

  .product-card:hover {
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 1); 
  }
  
  
  .product-card .product-image {
    height: 45%;
    background-size: cover;
    background-position: center;
    min-height: 191.25px;
    max-height:214px;
}
  
.product-card .product-details {
    border-top: solid 0.0625rem black;
    height: 45%;
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    gap: 0.5rem;
    border-bottom: solid 0.0625rem black;
  }

  .product-card .product-details h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: black;
    margin: 0;
  }

  .product-card .product-details .user {
    display: flex;
    font-size: .875rem;
    text-decoration: underline;
    gap: 0.5rem;
    align-items: center;
  }

  .product-card .product-details .user svg {
    font-size: 1.25rem;
    color: white;
  }
  
  .product-card .product-details .user .svg-inline--fa path {
    stroke: black;
    fill: #ff90e8;
    stroke: 1px;
    stroke-width: 20px;
  }

  .product-card .product-details .rating {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-top: 0.5rem;
    font-size: .875rem;
    line-height: 1.3;
  }

  .product-card .product-details .rating svg {
    height: 1em;
  }

  .product-card .product-price {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 1rem;
}

.product-card .swallowtail-flag-wrapper-wrapper {
    display: inline-flex;
    height: 30px;
    background-color: black;
    clip-path: polygon(0% 0%, 100% 0%, 80% 50%, 100% 100%, 0% 100%);
    align-items: center;
    box-shadow: 0 0 0 10px black; 
}


.product-card .swallowtail-flag-wrapper {
    display: inline-flex;
    height: 28px;
    background-color: #ff90e8;
    clip-path: polygon(0% 0%, 100% 0%, 80% 50%, 100% 100%, 0% 100%);
    align-items: center;
    box-shadow: 0 0 0 10px black; 
    border-left: black 1px solid;
}

.product-card .swallowtail-flag {
    background-color: #ff90e8;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0.25rem 0.5rem; 
}

.product-card .flag-text {
    font-size: 0.875rem;
    white-space: nowrap; 
    padding: 0.25rem 1rem 0.25rem 0; 
}