.ratings-bar-chart-container h3 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.6;
  }
  

.ratings-bar-chart {
  display: flex;
  gap: 0.75rem;
  flex-direction: column-reverse;
}


.ratings-bar-chart .bar-row {
    width: 100%;
    display: flex;
    gap: 0.75rem;
    font-size: 0.8rem;

} 

.ratings-bar-chart .bar-row .stars {
    width: 22%;
} 

.ratings-bar-chart .bar-row .outer-bar {
    width: 68%;
    height: 18px;
    position: relative;
    border: 1px solid black;
    border-radius: .25rem;
} 

.ratings-bar-chart .bar-row .inner-bar {
    background-color: #FF90E8;
    height: 100%;
}

.ratings-bar-chart .bar-row .percentage {
    width: 10%;
} 



