.ratings-bar-chart-container h3 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    padding-bottom: 1rem;
  }
  
  .ratings-bar-chart {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.75rem;
  }
  
  .ratings-bar-chart .bar-row {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 0.8rem;
  }
  
  .ratings-bar-chart .bar-row .stars, .ratings-bar-chart .bar-row .percentage {
    white-space: nowrap; 
    flex-shrink: 0; 
    min-width: 50px;
  }
  
  .ratings-bar-chart .bar-row .outer-bar {
    flex-grow: 1;
    height: 18px;
    border: 1px solid black;
    border-radius: 0.25rem;
    position: relative;
  }
  
  .ratings-bar-chart .bar-row .inner-bar {
    background-color: #ff90e8;
    height: 100%;
  }
  