.single-product-container {
  width: 100%;
}

.product-header-container {
  display: none;
}

.product-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 1rem;
}

.product-main-section {
  width: 100%;
  max-width: 1140px;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.image-carousel {
  width: 100%;
  border-bottom: black solid 1px;
}

.product-data-container #left-column h1 {
  margin: 0;
  font-size: 2.5rem;
  line-height: 1.2;
  --line-height: 3rem;
  font-weight: 400;
}

#row1,
#row2 > div,
#row3,
#right-column #row1,
#right-column #row2 {
  padding: 1rem 1.5rem;
}

.product-data-container #left-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-data-container #right-column {
  min-width: 25%;
  display: flex;
  flex-direction: column;
}

#left-column {
  flex: 1;
}

#left-column #row2 {
  display: flex;
  flex-direction: row;
}

#left-column #row2 > div {
  display: flex;
  justify-content: left;
  align-items: center;
}

#left-column #row2 > #row2-col-left {
  width: 25%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
#left-column #row2 > #row2-col-mid {
  width: 25%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
#left-column #row2 > #row2-col-right {
  width: 50%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

#left-column #row3 {
  border-bottom: 1px solid black;
}

#right-column #row1 {
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.single-product-container button {
  border: 1px solid black;
  line-height: 1.5rem;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: black;
  background-color: #ff90e8;
}


.single-product-container .product-details button .add-to-cart {
  /* width: 100%; */
  white-space: nowrap;
  padding: 0.5rem 1rem;
}

.like {
  position: relative;
  display: flex;
}

.like .svg-inline--fa {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 3rem;
}

.like .svg-inline--fa path {
  stroke: black;
  fill: #f4f4f0;
  stroke: 1px;
  stroke-width: 10px;
}

.like .svg-inline--fa path:hover {
  stroke: black;
  fill: #ff90e8;
  stroke: 1px;
  stroke-width: 10px;
}

.like .svg-inline--fa:hover {
  transform: translateX(-4px) translateY(-4px);
  filter: drop-shadow(4px 4px 0 rgb(0 0 0 / 1));
}

.single-product .product-price {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 1rem;
}

.single-product-container .swallowtail-flag-wrapper-wrapper {
  display: inline-flex;
  height: 30px;
  background-color: black;
  clip-path: polygon(0% 0%, 100% 0%, 80% 50%, 100% 100%, 0% 100%);
  align-items: center;
  box-shadow: 0 0 0 10px black;
}

.single-product-container .swallowtail-flag-wrapper {
  display: inline-flex;
  height: 28px;
  background-color: #ff90e8;
  clip-path: polygon(0% 0%, 100% 0%, 80% 50%, 100% 100%, 0% 100%);
  align-items: center;
  box-shadow: 0 0 0 10px black;
  border-left: black 1px solid;
}

.single-product-container .swallowtail-flag {
  background-color: #ff90e8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
}

.single-product-container .flag-text {
  font-size: 0.875rem;
  white-space: nowrap;
  padding: 0.25rem 1rem 0.25rem 0;
}

/* ---------------------------------------- */
/* ------------------------------||-------- */
/* ---------------BIG SCREEN----\  /------- */
/* ------------------------------\/-------- */
/* ---------------------------------------- */

@media screen and (min-width: 1024px) {
  .single-product-container .product-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    flex-wrap: wrap;
  }

  .single-product-container .product-header {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
    padding: 1rem 4rem; */
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .single-product-container .add-to-cart,
  .single-product-container .add-to-cart .rating,
  .single-product-container .add-to-cart .like {
    flex-shrink: 0;
  }

  .single-product-container .product-name,
  .single-product-container .product-details {
    display: flex;
    align-items: center;
    flex: 1;
    width: 50%;
  }

  .single-product-container .product-details {
    justify-content: flex-end;
    font-size: 0.9rem;
    gap: 1rem;
  }

  .single-product-container h3 {
    /* font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
    line-height: 1.5rem;
    padding-left: 1rem; */
    flex-grow: 1;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .single-product-container .rating, .single-product-container .rating, {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  .single-product-container .like {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  .single-product-container button:hover {
    transform: translateX(-4px) translateY(-4px);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 1);
  }

  .single-product-container .product-name {
    justify-content: flex-start;
  }

  .single-product-container .product-details .rating-number {
    font-size: 0.8rem;
    margin-bottom: -4px;
  }

  .single-product-container .product-data-container .rating-number {
    margin-bottom: -4px;
  }

  .single-product-container .product-main-container {
    padding: 4rem 4rem;
  }

  .single-product-container .product-main-section {
    padding: 0 0;
  }

  .single-product-container .product-data-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .single-product-container .product-data-container #left-column {
    width: 75%;
    display: flex;
    flex-direction: column;
  }

  .single-product-container .product-data-container #right-column {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    border-left: solid 1px black;
  }

  .single-product-container #left-column {
    flex: 1;
  }

  .single-product-container #left-column #row2 {
    display: flex;
    flex-direction: row;
  }

  .single-product-container #left-column #row2 > div {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .single-product-container #left-column #row2 > #row2-col-left {
    width: 25%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
  }
  .single-product-container #left-column #row2 > #row2-col-mid {
    width: 25%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
  }
  .single-product-container #left-column #row2 > #row2-col-right {
    width: 50%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }

  .single-product-container #right-column #row1 {
    border-bottom: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .single-product-container #left-column #row3 {
    border-bottom: none;
  }
}
