.single-product-container {
  width: 100%;
}

.product-header-container {
  display: none;
}

.product-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 1rem;
  gap: 2rem;
}

.product-main-section {
  width: 100%;
  max-width: 1140px;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.image-carousel {
  width: 100%;
  border-bottom: black solid 1px;
  position: relative;
}

.image-carousel:hover .prev-button,
.image-carousel:hover .next-button {
  opacity: 1;
}

.image-carousel img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.image-carousel .visible {
  opacity: 1;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.prev-button,
button.next-button {
  position: absolute;
  top: 50%;
  cursor: pointer;
  opacity: 0;
  border: none;
  padding: 0;
  background-color: inherit;
}

.prev-button:hover,
.next-button:hover {
  transform: translateX(0) translateY(0);
  box-shadow: none;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.prev-button .svg-inline--fa,
.next-button .svg-inline--fa {
  color: black;
  width: 28px;
  height: 28px;
}

.image-carousel:hover .prev-button,
.image-carousel:hover .next-button {
  opacity: 1;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.carousel-dots .dot,
.dot.active {
  filter: drop-shadow(0 0 0 1px black);
  margin: 0 5px;
}

.carousel-dots .dot {
  margin: 0 5px;
  color: white;
}

.carousel-dots .dot.active {
  color: black;
}

.image-carousel:only-child .carousel-dots {
  display: none;
}

.product-data-container #left-column h1 {
  margin: 0;
  font-size: 2.5rem;
  line-height: 1.2;
  --line-height: 3rem;
  font-weight: 400;
}

#row1,
#row2 #row2-col-left,
#row2 #row2-col-mid,
#row2 #row2-col-right,
#row3,
#right-column #row1,
#right-column #row2 {
  padding: 1rem 1.5rem;
}

.product-data-container #left-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-data-container #right-column {
  min-width: 25%;
  display: flex;
  flex-direction: column;
}

#left-column {
  flex: 1;
}

#left-column #row2 {
  display: flex;
  flex-direction: row;
}

#left-column #row2 > div {
  display: flex;
  justify-content: left;
  align-items: center;
}

#left-column #row2 #row2-col-left,
#left-column #row2 #row2-col-mid,
#left-column #row2 #row2-col-right {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#left-column #row2 > #row2-col-left {
  width: fit-content;
  border-right: 1px solid black;
}

#left-column #row2 > #row2-col-mid {
  width: fit-content;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
#left-column #row2 > #row2-col-right {
  width: 100%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

#left-column #row3 {
  border-bottom: 1px solid black;
}

#right-column #row1 {
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.single-product-container button.add-to-cart {
  border: 1px solid black;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: 1rem;
  color: black;
  background-color: #ff90e8;
  white-space: nowrap;
  padding: 0.75rem 1rem;
}

.product-data-container button.add-to-cart {
  width: 100%;
}

.like {
  position: relative;
  display: flex;
}

.like:hover {
  cursor: pointer;
}

.like .svg-inline--fa {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 3rem;
}

.like .svg-inline--fa path {
  stroke: black;
  fill: #f4f4f0;
  stroke: 1px;
  stroke-width: 11px;
}

.liked .svg-inline--fa path {
  fill: #ff90e8;
}


.like .svg-inline--fa path:hover {
  stroke: black;
  stroke-width: 10px;
}

.like:hover .svg-inline--fa {
  transform: translateX(-4px) translateY(-4px);
  filter: drop-shadow(4px 4px 0 rgb(0 0 0 / 1));
}

.like:hover .svg-inline--fa path {
  fill: #ff90e8;
}

#row2-col-mid {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#row2-col-mid #user {
  width: max-content;
  flex-shrink: 0;
  line-height: 2.5rem;
  text-decoration: underline;
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

#row2-col-mid  #user svg {
  font-size: 1.25rem;
  color: white;
}

#row2-col-mid  #user .svg-inline--fa path {
  stroke: black;
  fill: #ff90e8;
  stroke: 1px;
  stroke-width: 20px;
}


.single-product .product-price {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 1rem;
}
.swallowtail-flag span {
  line-height: 1.9rem;
}
.single-product-container .swallowtail-flag-wrapper-wrapper {
  display: inline-flex;
  height: 40px;
  background-color: black;
  clip-path: polygon(0% 0%, 100% 0%, 80% 50%, 100% 100%, 0% 100%);
  align-items: center;
  box-shadow: 0 0 0 10px black;
}

.single-product-container .swallowtail-flag-wrapper {
  display: inline-flex;
  height: 38px;
  background-color: #ff90e8;
  clip-path: polygon(0% 0%, 100% 0%, 80% 50%, 100% 100%, 0% 100%);
  align-items: center;
  box-shadow: 0 0 0 10px black;
  border-left: black 1px solid;
}

.single-product-container .swallowtail-flag {
  background-color: #ff90e8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
}

.single-product-container .flag-text {
  font-size: 0.875rem;
  white-space: nowrap;
  padding: 0.25rem 1rem 0.25rem 0;
}

.product-data-container .right-column .row1 button {
  width: 100%;
}



.product-main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  max-width: 1140px;
  margin: auto;
  padding: 1rem 1rem;
}

.product-main-container  .section-container {
  display: grid;
  gap: 2rem;
}

.product-main-container  .section-container > div > div {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); 
  gap: 1rem;
}

.product-main-container .paragraphs {
  display: grid;
  gap: 1rem;
}

.product-main-container  .section-container .paragraphs h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  margin: 0;
}









/* ---------------------------------------- */
/* ------------------------------||-------- */
/* ---------------BIG SCREEN----\  /------- */
/* ------------------------------\/-------- */
/* ---------------------------------------- */

@media screen and (min-width: 1024px) {
  .single-product-container .product-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    flex-wrap: wrap;
  }

  .single-product-container .product-header {
    width: 100%;
    max-width: 1140px;
    padding: 1rem max(50% - 35.625rem, 4rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
  }

  .single-product-container .add-to-cart,
  .single-product-container .add-to-cart .rating,
  .single-product-container .add-to-cart .rating-number,
  .single-product-container .add-to-cart .like {
    flex-shrink: 0;
  }

  .single-product-container .product-header .product-details,
  .single-product-container .product-main-section .product-details {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    font-size: 0.9rem;
    gap: 1rem;
  }

  .single-product-container h3 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    line-height: 1.5rem;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
  }

  .single-product-container .rating,
  .single-product-container .rating .rating_number {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    white-space: nowrap;
  }


  .single-product-container .like {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  .single-product-container button.add-to-cart:hover {
    transform: translateX(-4px) translateY(-4px);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 1);
  }

  .single-product-container .product-header-container .pproduct-header .rating .rating-number 
  .single-product-container .product-main-section .product-details .rating-number {
    font-size: 0.9rem;
    margin-bottom: -4px;
    flex-shrink: 0;
    width: max-content;
  }

  .single-product-container .product-data-container .rating-number {
    margin-bottom: -4px;
    flex-shrink: 0;
  }

  .single-product-container .product-main-container {
    padding: 4rem 4rem;
  }

  .single-product-container .product-main-section {
    padding: 0 0;
  }

  .single-product-container .product-data-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .single-product-container .product-data-container #left-column {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .single-product-container .product-data-container #right-column {
    width: 30%;
    width: auto;
    display: flex;
    flex-direction: column;
    border-left: solid 1px black;
  }

  .single-product-container #left-column {
    flex: 1;
  }

  .single-product-container #left-column #row2 {
    display: flex;
    flex-direction: row;
  }

  .single-product-container #left-column #row2 > div {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .single-product-container #left-column #row2 > #row2-col-left {
    width: fit-content;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
  }
  .single-product-container #left-column #row2 > #row2-col-mid {
    width: fit-content;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
  }
  .single-product-container #left-column #row2 > #row2-col-right {
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }

  .single-product-container #right-column #row1 {
    border-bottom: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .single-product-container #left-column #row3 {
    border-bottom: none;
    padding: 1.5rem;
  }
}

/* ---------------------------------------- */
/* ------------------------------||-------- */
/* ---------------SMALL SCREEN--\  /------- */
/* ------------------------------\/-------- */
/* ---------------------------------------- */

@media screen and (max-width: 639px) {
  #left-column #row2 {
    display: flex;
    flex-direction: column;
  }

#left-column #row2 #row2-col-left,
 #left-column #row2 #row2-col-mid {
    width: -webkit-fill-available;
    flex-basis: 100%;
    border-bottom: none;
    border-right: none;
  }

 #left-column #row2 {
    flex-wrap: wrap;
  }

 #left-column #row2 #row2-col-left {
    flex-basis: auto;
    width: min-content;
    border-bottom: none;
  }

 #left-column #row2 #row2-col-mid {
    flex-grow: 1;
    width: 100%;
    border-left: 1px solid black;
    border-right: none;
    border-bottom: none;
  }

 #left-column #row2 #row2-col-right {
    width: auto;
    order: 3;
  }

  #left-column #row2 #row2-col-left #double-col {
    display: flex;
    flex-direction: row;
  }

  #left-column #row2 .rating {
    line-height: 2.5rem;
  }

  #right-column {
    line-height: 2.5rem;
  }

}
