<% provide(:title, "Demo | Products") %>

<h1>Products</h1>

<div id="products">
  <table class="table table-bordered">
  <thead>
  <tr>
  <th>ID</th>
  <th>Product Name</th>
  <th>User ID</th>
  <th>Description</th>
  <th>Price</th>
  <th>Flex Price</th>
  <th>Ratings Count</th>
  <th>Average Rating</th>
  <th>Download Count</th>
  </tr>
  </thead>
  <% @products.each do |product| %>
    <%= render partial: 'product', locals: { product: product } %>
  <% end %>
  </table>
</div>

